{{template "base" .}}

{{define "title"}}Notes{{end}}

{{define "body"}}
    <h1>{{template "title" .}}</h1>
    <div class="container-fluid">
        <div>
            {{template "notes" .}}
        </div>
        <div class="row">
            <button type="button" class="btn btn-link"><a href="/createNote">Create Note</a></button>
        </div>
    </div>
{{end}}