{{template "base" .}}

{{define "title"}}List of Notes{{end}}

{{define "body"}}
    <h3 class="m-2 text-secondary">{{template "title" .}}</h3>
    <div class="container-fluid">
        <div>
            {{template "notes" .}}
        </div>
        <div class="row">
            <button type="button" class="btn btn-link"><a href="/editNote">Create Note</a></button>
        </div>
    </div>
{{end}}
